/* Estilos para la vista de lista de pedidos */
.container {
  background-color: #f8f8f8; /* Color de fondo similar al de la vista anterior */
  padding: 20px;
}

h2 {
  color: #ffa500; /* Color naranja similar al de la vista anterior */
  margin-bottom: 20px;
}

.table {
  background-color: #ffffff; /* Color blanco para la tabla */
  border-color: #ffa500; /* Color del borde similar al de la vista anterior */
}

.table th {
  background-color: #ffa500; /* Color naranja para el encabezado de la tabla */
  color: #ffffff; /* Color de texto blanco */
}

.table td {
  border-color: #ffa500; /* Color del borde similar al de la vista anterior */
}

.btn-success {
  background-color: #5cb85c; /* Color verde para el botón "Confirmar" */
  border-color: #5cb85c;
  color: #ffffff; /* Color de texto blanco */
  transition: background-color 0.3s; /* Efecto de transición al cambiar el color de fondo */
}

.btn-danger {
  background-color: #d9534f; /* Color rojo para el botón "Rechazar" */
  border-color: #d9534f;
  color: #ffffff; /* Color de texto blanco */
  transition: background-color 0.3s; /* Efecto de transición al cambiar el color de fondo */
}

.btn:disabled {
  opacity: 0.65; /* Reduce la opacidad de los botones deshabilitados */
}

/* Efecto cuando se pasa el cursor por encima de los botones */
.btn-success:hover {
  background-color: #449d44; /* Nuevo color verde cuando se pasa el cursor por encima */
}

.btn-danger:hover {
  background-color: #c9302c; /* Nuevo color rojo cuando se pasa el cursor por encima */
}
