<div class="container mt-4">
    <div class="row">
      <div class="col">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h2>Lista de Productos</h2>
          <a class="btn btn-success" [routerLink]="['/productos/agregar']">Nuevo Producto</a>
        </div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>NOMBRE</th>
              <th>DESCRIPCION</th>
              <th>PRECIO</th>
              <th>CANTIDAD</th>
              <th>IMAGEN</th>
              <th>ACCIONES</th>
              <th></th> <!-- Celda vacía para separar los botones -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let producto of productos | async">
              <td>{{ producto.idProducto }}</td>
              <td>{{ producto.Nombre }}</td>
              <td>{{ producto.Descripcion }}</td>
              <td>$ {{ producto.Precio }}</td>
              <td>{{ producto.Cantidad_Disponible }}</td>
              <td><img [src]="producto.Imagen" alt="Imagen del Producto" class="img-thumbnail" width="100"></td>
              <td>
                <a class="btn btn-info mr-2" [routerLink]="['/productos/editar/', producto.idProducto]">Editar</a>
              </td>
              <td>
                <a class="btn btn-danger" (click)="borrarProducto(producto.idProducto)">Borrar</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
  