<div class="container mt-4 contenedor-reducido">
    <div class="row">
      <div class="col">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h2>Carro de Compras</h2>
        </div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>PRODUCTO</th>
              <th>PRECIO UNITARIO</th>
              <th>CANTIDAD</th>
              <th>TOTAL</th>
              <th>ACCIONES</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let carro of detalles | async">
              <td>{{ obtenerNombreProducto(carro.Producto_ID) }}</td>
              <td>$ {{ obtenerPrecioProducto(carro.Producto_ID) }}</td>
              <td>
                <!-- Campo de entrada para modificar la cantidad -->
                <div class="input-group">
                  <input type="number" class="form-control input-cantidad" [(ngModel)]="carro.Cantidad" (change)="calcularSubtotal(carro)">
                  <button class="btn btn-outline-secondary" (click)="incrementarCantidad(carro)">+</button>
                  <button class="btn btn-outline-secondary" (click)="decrementarCantidad(carro)">-</button>
                </div>
              </td>
              <td>$ {{ carro.Subtotal }}</td>
              <td>
                <button class="btn btn-success me-2" [disabled]="pedidoConfirmado.get(carro.Pedido_ID)" (click)="actualizarDetalle(carro)">Actualizar</button>
                <button class="btn btn-secondary me-2" [disabled]="pedidoConfirmado.get(carro.Pedido_ID)" (click)="eliminarDetalle(carro.idDetalles)">Eliminar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  