/* Estilos para la vista de inicio de sesión */
.container {
  background-color: #f8f8f8; /* Color de fondo similar al de las vistas anteriores */
  padding-top: 50px;
}

.card {
  border: none; /* Quitamos el borde de la tarjeta */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera para la tarjeta */
}

.card-header {
  background-color: #007bff; /* Color azul para el encabezado de la tarjeta */
}

.card-header h4 {
  margin: 0; /* Eliminamos el margen del título */
}

.card-header h4.text-center {
  padding: 15px 0; /* Agregamos espaciado al título centrado */
}

.card-body {
  background-color: #ffffff; /* Color blanco para el cuerpo de la tarjeta */
}

.form-label {
  color: #007bff; /* Color azul para las etiquetas de formulario */
}

.form-control {
  border-color: #007bff; /* Color del borde del campo de entrada */
}

.form-control:focus {
  border-color: #0056b3; /* Nuevo color del borde al enfocar el campo */
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); /* Efecto de sombra al enfocar */
}

.btn-primary {
  background-color: #007bff; /* Color azul para el botón de inicio de sesión */
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3; /* Nuevo color azul al pasar el cursor por encima */
  border-color: #0056b3;
}
