/* Estilos para la barra de navegación */
.navbar {
  background-color: #84BD00; /* Color verde claro */
}

.navbar-brand img {
  height: 60px;
}

.nav-link {
  color: #000000; /* Texto en color blanco */
}

.nav-link:hover {
  color: #da5454; /* Texto en color negro al pasar el mouse */
}

/* Estilos para el contenedor principal */
.container.custom-container {
  background-color: #e6dede; /* Color gris claro */
  padding: 20px;
}

