<div class="container mt-4">
    <div class="row">
      <div class="col-md-4" *ngFor="let producto of productos | async">
        <div class="card mb-4">
          <!-- Agregamos la imagen del producto en la tarjeta normal -->
          <img [src]="'assets/imagenes/' + producto.Imagen" class="card-img-top custom-img" alt="Imagen del producto">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">{{ producto.Nombre }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ producto.Categoria }}</h6>
            <p class="card-text">Precio: $ {{ producto.Precio }}</p>
            <!-- Colocamos los botones uno debajo del otro con la clase "flex-grow-1" -->
            <div class="d-flex flex-column flex-grow-1">
              <button class="btn btn-primary mb-2" (click)="agregarAlCarrito(producto)">Agregar al carrito</button>
              <button class="btn btn-primary" (click)="abrirModal(producto)">Ver detalles</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
<!-- Ventana emergente o modal -->
<div class="modal-background" [ngClass]="{ 'show-modal': showModal }">
    <div class="modal-content custom-modal">
      <div class="modal-header">
        <h5 class="modal-title">{{ productoSeleccionado?.Nombre }}</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="cerrarModal()"></button>
      </div>
      <div class="modal-body">
        <div class="d-flex justify-content-center mb-3">
          <!-- Agregamos la imagen del producto en la ventana emergente -->
          <img [src]="'assets/imagenes/' + productoSeleccionado?.Imagen" class="img-fluid rounded custom-img" alt="Imagen del producto">
        </div>
        <div>
          <p><strong>Categoría:</strong> {{ productoSeleccionado?.Categoria }}</p>
          <p><strong>Precio:</strong> $ {{ productoSeleccionado?.Precio }}</p>
          <p><strong>Descripción:</strong> {{ productoSeleccionado?.Descripcion }}</p>
          <p><strong>Cantidad disponible:</strong> {{ productoSeleccionado?.Cantidad_Disponible }}</p>
          <!-- Agrega aquí los demás detalles del producto -->
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="cerrarModal()">Cerrar</button>
    </div>
    </div>
  </div>
  
  
  