.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
  }
  
  .show-modal {
    display: flex;
  }
  
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .close {
    cursor: pointer;
  }
  
  .modal-body {
    margin-bottom: 20px;
  }
  
  .modal-footer {
    display: flex;
    justify-content: flex-end;
  }
  
  /* Estilos adicionales para las tarjetas de producto */
  .card {
    cursor: pointer;
  }

  .custom-img { /* Establecemos el ancho al 100% para que se ajuste al tamaño de la tarjeta */
    height: 320px; /* Establecemos una altura fija para todas las imágenes, puedes ajustar este valor según tus necesidades */
    object-fit: cover; /* Ajustamos la imagen para que cubra toda el área asignada sin distorsión */
  }

  .custom-modal {
    max-width: 800px; /* Ajusta el tamaño deseado según tus necesidades */
    width: 90%; /* También puedes usar porcentajes para controlar el ancho */
  }