<div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <form (ngSubmit)="onSubmit()" #productoForm="ngForm">
          <div class="mb-3">
            <label class="form-label" for="nombre">Nombre</label>
            <input type="text" class="form-control" required [(ngModel)]="producto.Nombre" name="nombre">
          </div>
          <div class="mb-3">
            <label class="form-label" for="descripcion">Descripción</label>
            <textarea class="form-control" required [(ngModel)]="producto.Descripcion" name="descripcion" rows="5"></textarea>
          </div>
          <div class="mb-3">
            <label class="form-label" for="precio">Precio</label>
            <input type="text" class="form-control" required [(ngModel)]="producto.Precio" name="precio" pattern="^\d+(\.\d{1,2})?$">
          </div>
          <div class="mb-3">
            <label class="form-label" for="cantidad">Cantidad Disponible</label>
            <input type="text" class="form-control" required [(ngModel)]="producto.Cantidad_Disponible" name="cantidad" pattern="^\d+$">
          </div>
          <div class="mb-3">
            <label class="form-label" for="imagen">Imagen</label>
            <input type="text" class="form-control" required [(ngModel)]="producto.Imagen" name="imagen">
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="!productoForm.form.valid">Enviar</button>
        </form>
      </div>
    </div>
  </div>
  
  